html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.icon {
  font-size: 20px;
  transition: 0.3s;
}
.icon-orange{
    color: orange;
}
.icon-green{
    color: green;
}
.icon-red{
    color: red;
}
.btn{
    width: 100px;
    height: 35px;
    border: none;
    background-color: burlywood;
    cursor: pointer;
}
.app-form{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.app-form__agree--label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
}

.app-form__agree--text {
  text-align: left;
  word-wrap: break-all;
}
.errors {
  text-align: left;  
}
.errors p {
  font-size: 14px;
  color: red;
  margin: 0;
}